*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(../image/blur-hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.i1{
    justify-content:center;
    align-items: left;
    color:#171617;
    font-style: bold;
    font-size:large;
    font-size: 40px;
    margin-left:480px;
    margin-top:20px;
}
.i3{
    justify-content:center;
    align-items: left;
    color:#171617;
    font-style: bold;
    font-size:large;
    font-size:40px;
    margin-top:20px;
    margin-left:5px;
}
.abtp1{
    justify-content:left;
    margin-left:30px;
    margin-top:80px;
    color:rgb(118, 10, 118);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.abtp2{
    justify-content:left;
    margin-top:13px;
    margin-left:1px;
    font-family:cursive;
    font-size: 14px;
    background-blend-mode: multiply;
    opacity:6.2px;
    background-attachment: fixed;
    position: absolute;
    top:290px;
    left:22px;

    
}


.abtp1:hover{
          color:rgb(143, 60, 122);
          padding: 5px;
          font-size: medium;
          font-family: cursive;
          
}
.abtp2:hover{
               color: rgb(98, 66, 128);
               font-size: medium;
               
}


