@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 
 *{
         font-family:"poppins";
         text-decoration:none;

 }
 .main {
   
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
   width: 1500px;
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0px;
    left:0px;
    right:0px;
   
}
.navbar {
    display: flex;
    justify-content: space-between;
    /* margin-right:7em; */
}
.navbar li {
    text-decoration: none;

    margin: 2.7em 0px 30px 40px;
    color: rgb(248, 251, 245);
}
 .text {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
 }
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
      height:30px;
      width:30px;
      margin-right:100px;
}
h1{
   margin-left:50px;
}