@import url("https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap");
body{
  margin: 0px;
  padding: 0px;
  height: auto;
}
*{
   font-family:"Poppins", sans-serif;
   margin:0px;
   padding:0px;
   box-sizing: border-box;
   transition: all .2s ease-out; 
   text-transform: capitalize;
  
}
 .header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    /* margin-top:1px;  */
    padding:0.5rem 9%;
    background:#fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
 }
 
 .m1{
     
      margin-top:9px;
      justify-content: center;
      display: block;
      margin-top:3px ;
      /* margin-left:20px; */
 }
 .nav1{    
            /* margin-left: 70px;  */
           font-size: 40px;
           margin-top:50px;
           font-family: sans-serif;
           color: aqua;
 }
 .nav2{
  /* margin-left: -70px; */
  font-size: 40px;
  font-family:sans-serif;
  color: aquamarine;
}
 body{
    background-size: cover;
    background-position:center;
    /* background: no-repeat; */
    background-blend-mode: multiply;
    background-color:lightblue;
    background-repeat: no-repeat;
    height:auto; 
 }
  .logo-1{
     position:absolute;
    top:-40px;
    left:-40px;
 }
 .navbar{
    display:flex;
    gap:40px;
    /* margin-left:-px; */
    margin-top:2px;
  } 
 .navbar a{
    color:rgb(15, 15, 15);
    font-size:22px;
    text-decoration:none;
 }
 .navbar a:hover{
   color:rgb(27, 69, 236);
   font-size: medium;
   font-size:25px;
 }
 .m1{
   justify-content: center;
   padding: 5px;
   /* position: absolute; */
   /* top:4px; */
   /* right:800px; */
   font-size:medium;
   font-size: 10px;
   
 }
 .p1{
    position: absolute;
    top:270px;
    left:90px;
    color:rgba(12, 12, 12, 0.893);
    font-size:32px;
 }
 .btn1{
   /* justify-content: left; */
   padding:9px;
   top:590px;
   position:absolute;
   left:290px;
   font-size:25px;
   background-color: #11b437a3;
   border: #fff;
 }
 .btn1:hover{
       color:rgb(122, 57, 57);
       background-color: antiquewhite;
       font-size:26px;
 }
 a{
  text-decoration: none;
  cursor: pointer;
 }
 .main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(#f2f3f5c9, #c3c6c8 50%, #fff 0%, rgb(250, 245, 245) 00%);
   /* background: #fff; */
   position: absolute;
   top:1090px;
 }
 
 .container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 200px 75px;
   /* height: 100%;  */
   /* width: fit-content ;   */
 }
 
 .container .box {
   background: rgb(241, 235, 244);
   padding: 100px 40px 60px;
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
   flex: 1;
   /* width:100%;  */
 }
 .container .box:before {
   content: "";
   position: absolute;
   /* width:28%; */
   /* height:0%; */
  background:rgba(144, 92, 140, 0.154);
  transform: scaleY(0);
  transform-origin:top;
  transition: transform 0.5s;
  margin-top: auto;
}
.container .box:hover:before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition:  0.5s;
}
.container .box h2 {
  position: absolute;
  font-size: 4rem;
  font-weight: 800;
  z-index: 1;
  opacity: 0.5;
  transition: 0.5s;
  margin-bottom: 2px;
  justify-content: center;
  display: flex;
  margin-right: 100%;
  margin-top:-4%;
}
.container .box:hover h2 {
  opacity: 1;
  color: rgb(67, 58, 58);
  transform: translateY(-40px);
}
.container .box p {
  font-size: 18px;
}
.container .box h3 {
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  color: #333;
  transition: 0.5s;
}
.opacity{
      position: absolute;
      top:1300px;
      display: flex;
}
.main-branch{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 1500px;
}
footer{
  background-color:#ecf1f9 ;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container-1 {
 max-width: 1100px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.col{
 min-width: 250px;
 color:rgb(8, 8, 8);
 font-family:"Poppins";
 padding:0 2rem;
}
.col .logo{
 width: 100px;
 margin-bottom:25px;
}
.col h3{
 color:rgb(15, 14, 14);
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
}
.col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color: rgba(182, 59, 96, 0.903);
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;
}
.col h3:hover::after{
 width:30px
}
.col .social a i{
 color:rgb(117, 48, 48);
 margin-top:2rem;
 margin-right: 5px;
 transition: 0.3s ease;
}
.col .social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}
.col .links a{
 display: block;
 text-decoration: none;
 color:#252526;
 margin-bottom: 5px;
 position: relative;
 transition: 0.3s;
}
.col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color: rgb(147, 37, 37);
 transition: 0.5s ease;
 opacity: 0;
}
.col .links a:hover::before{
 opacity: 1;
}
.col .links a:hover{
 transform: translateX(-18px);
 color:rgb(111, 3, 110);
}
.col .contact-details{
 display: inline-flex;
 justify-content: space-between;
}
.col .contact-details i{
 margin-right:15px;
}
.row .form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding:2rem 0;
}
.row .form input{
 background-color: rgb(42, 54, 77);
 border:0;
 outline:none;
 padding:14px 20px;
 border-radius: 6px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
.form button{
 padding:14px 20px;
 border:0;
 border-radius: 6px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 background-color: rgb(249, 147, 178);
}
.gif{
       position: absolute;
       top:210px;
       left:840px;    
}
.map{
      position: absolute;
      top:1960px;

}
.fa-solid fa-hospital{
height:500px;
 width:700px;
}
@media screen and (max-width:410px) { 
 body{
  padding: 0px;
  margin: 0px;
 }
  .header{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .navbar{
    display: flex;
    margin-left: 20px; 
     gap: 10px;
     
  }
  .navbar a{
    font-size: 16px;
  }
  .icong img{
    margin-top: -25px;
  }
  .p1 h1{
    font-size: 50px;

  }
  .gif{
       display:flex;
       margin-left:-1280px;
       margin-top: 50px;
       height:
  }
}