@import url("https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap");
*{
   font-family:"Poppins", sans-serif;
   margin:0px;
   padding:0px;
   box-sizing: border-box;
}
.project{
  margin-top: 50px;
}
 .header{
   
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
  
 }
 .m1{
  margin-top: 30px;
  margin-left: 70px;
  
 }

 .logo-1{
    position:absolute;
    top: -30px;
    left: -50px;
    /* left: -100px; */
    /* width: 70px; */
    /* height: 100px; */
    /* margin-right: 20px;   */
 }
 .navbar{
    display:flex;
    gap:40px;
    margin-right: 20px;
  } 
 .navbar a{
    color:white;
    font-size:18px;
    text-decoration: none;
 }
 .navbar a:hover{
   color:pink;
   font-size: medium;
 }
 body{
    background-image: url(../image/wallhaven-0j1vjq_3840x2160.png);
    background-size: cover;
    background-position:center;
    /* background: no-repeat; */
    background-blend-mode: multiply;
    background-color: rgb(63, 62, 62);
    background-repeat: no-repeat;
    height: 810px;
 }
 .nav1{
   color:rgb(183, 209, 215);
   font-size: xx-large;

 }
 .nav2{
   color:rgb(178, 110, 234);
   font-size: xx-large;
 }
 .m1{
   justify-content: center;
   padding: 10px;
   position: absolute;
   top:-4px;
   right:1160px;
   font-size:medium;
   font-size: 29px;
   
 }
 .p1{
    position: absolute;
    top:280px;
    left:25px;
    color:rgba(238, 245, 239, 0.893);
    font-size:22px;
    font-weight:bold;
    font-style:italic;
 }
 .btn1{
   /* justify-content: left; */
   padding:10px 2px;
   border-radius: 120px;
   top:440px;
   position:absolute;
   left:20px;
   color:rgb(84, 52, 52);
   font-size: 17px;
   font-style:italic;
 }
 .btn1:hover{
       color:rgb(151, 36, 36);
       font-size:16px;
 }
 .material-symbols-outlined{
              background-color:rgb(95, 87, 87);
             font-size:smaller;
 }
 .material-symbols-outlined:hover{
                     color:pink;
                     font-size: medium;

 }
 
 .main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(#f2b6ea, #a872f8 50%, #fff 50%, #fff 100%);
   position: absolute;
   top:870px;
   left:5px;
 }
 
 .container {
   width: 460px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   /* margin-top: 100px; */
 }
 
 .container .box {
   margin-left:10px;
   position: relative;
   width: 400px;
   background: rgb(241, 235, 244);
   padding: 100px 40px 60px;
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
 }
 
 .container .box:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
  height: 100%;
  background:rgba(144, 92, 140, 0.154);
  transform: scaleY(0);
  transform-origin:top;
  transition: transform 0.5s;
}

.container .box:hover:before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition:  0.5s;
}

.container .box h2 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-size: 4rem;
  font-weight: 800;
  z-index: 1;
  opacity: 0.5;
  transition: 0.5s;
  /* margin-bottom: 2px; */
}

.container .box:hover h2 {
  opacity: 1;
  color: rgb(67, 58, 58);
  transform: translateY(-40px);
}

.container .box h3 {
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  color: #333;
  transition: 0.5s;
}
.opacity{
      position: absolute;
      top:1300px;
      display: flex;

}
.main-branch{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 1100px;
}

footer{
  background-color: rgba(226, 218, 222, 0.733);
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container-1 {
 max-width: 1140px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;


}
.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.col{
 min-width: 250px;
 color:rgb(15, 14, 14);
 font-family:"Poppins";
 padding:0 2rem;
}
.col .logo{
 width: 100px;
 margin-bottom:25px;
}
.col h3{
 color:rgb(15, 14, 14);
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
}
.col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color: rgba(182, 59, 96, 0.903);
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;

}
.col h3:hover::after{
 width:30px
}
.col .social a i{
 color:rgb(117, 48, 48);
 margin-top:2rem;
 margin-right: 5px;
 transition: 0.3s ease;
}
.col .social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}
.col .links a{
 display: block;
 text-decoration: none;
 color:#252526;
 margin-bottom: 5px;
 position: relative;
 transition: 0.3s;
}
.col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color: rgb(29, 28, 29);
 transition: 0.5s ease;
 opacity: 0;
}
.col .links a:hover::before{
 opacity: 1;
}
.col .links a:hover{
 transform: translateX(-18px);
 color:rgb(111, 3, 110);
}
.col .contact-details{
 display: inline-flex;
 justify-content: space-between;
}
.col .contact-details i{
 margin-right:15px;
}
.row .form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding:2rem 0;
}
.row .form input{
 background-color: rgb(42, 54, 77);
 border:0;
 outline:none;
 padding:14px 20px;
 border-radius: 6px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
.form button{
 padding:14px 20px;
 border:0;
 border-radius: 6px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 background-color: rgb(249, 147, 178);
}
/* .submit{
         
} */